<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title t="webname">AutoBiz Genie</title>
        <link rel="stylesheet" href="static/style.css">
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
    </head>
    <body>
        <div class="container">
            <h1>AutoBiz Genie</h1>
            <p>Transforming Businesses with AI Automation</p>
            <div class="footer">Ahmed Shafique</div>
        </div>
    </body>
</html>